<form [formGroup]="formGroup" class="form">
  <ng-container *ngFor="let control of formConfig.controls | keyvalue">
    <ng-container [ngSwitch]="control.value.controlType">
      <app-input *ngSwitchCase="'input'" [formGroup]="formGroup" [controlConfig]="control.value"></app-input>
      <app-checkbox *ngSwitchCase="'checkbox'" [formGroup]="formGroup" [controlConfig]="control.value"></app-checkbox>
    </ng-container>
  </ng-container>
  <app-button [disabled]="disabled" [button]="createButton('add',formConfig)"></app-button>
  <app-button [disabled]="disabled" [button]="createButton('edit',formConfig)"></app-button>
  <app-button [disabled]="disabled" [button]="createButton('delete',formConfig)"></app-button>
</form>
