:host{
  .operations{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }
}
.list-todos{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.container{
  display: flex;
  flex-direction: column;
  height: calc(100% - 135px);

}
