<app-title-page title="لیست کار های روزانه"></app-title-page>
<div class="container">
  <div class="list-todos">
    <app-form-generator  (formReady)="formReady($event)" (submitFormEmitter)="submitForm($event)" [formConfig]="formConfig"></app-form-generator>
    <div class="operation">
      <app-button [button]="createList"></app-button>
      <app-select [config]="configSelect" (changeSelect)="changeSelect($event)"></app-select>
    </div>
  </div>
  <app-grid class="grid" [gridOptions]="gridOptions" (rowSelected)="onRowSelected($event)"></app-grid>
</div>
<router-outlet></router-outlet>
