.list-todos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  height: calc(100% - 135px);

  & .grid{
    width: 100%;
    height: 100%;
  }
}
