:host{
  width: 20%;
  height: 70px;
}
.example-form-field {
  width: 100%;
  height: 100%;

  & mat-label{
    margin-right: 4px;
  }

  & ::ng-deep{
    .mat-mdc-text-field-wrapper:hover{
      border: 1px solid #81F181FF;
    }

  }
}
::ng-deep{
  .mdc-line-ripple::before {
    display: none;
  }
  .mdc-line-ripple::after {
    display: none;
  }
}
